<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assigned User</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.user.username }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No tasks found.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
