{% extends "projects/main.html" %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h2>All Projects</h2>
    <a class="btn btn-outline-primary btn-sm"
       href="{% url 'project_create' %}">
      <i class="fa-solid fa-plus"></i>
      Create a new project
    </a>
  </div>
  {% if not projects %}
    <h3>No projects</h3>
  {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Project Name</th>
          <th scope="col">Created By</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ project.title }}</td>
            <td>{{ project.created_by }}</td>
            <td class="d-flex gap-3">
              <a href="{% url "project_detail" project.id %}"
                 title="View"
                 data-toggle="tooltip"
                 class="text-secondary"><i class="fa-solid fa-eye"></i></a>
              {% if user.is_authenticated %}
                {% if user.username == project.created_by.username %}
                  <a href="{% url "project_update" project.id %}"
                     title="Update"
                     data-toggle="tooltip"
                     class="text-secondary {% if not user.is_authenticated %}disabled{% endif %}"
                     {% if not user.is_authenticated %}aria-disabled="true"{% endif %}><i class="fa-solid fa-pen"></i></a>
                  <a href="{% url 'project_delete' project.id %}"
                     title="Delete"
                     data-toggle="tooltip"
                     class="text-danger {% if not user.is_authenticated %}disabled{% endif %}"
                     {% if not user.is_authenticated %}aria-disabled="true"{% endif %}><i class="fa-solid fa-trash"></i></a>
                {% else %}
                  <a href="{% url "project_update" project.id %}"
                     title="Update"
                     data-toggle="tooltip"
                     class="text-secondary disabled"
                     aria-disabled="true"><i class="fa-solid fa-pen"></i></a>
                  <a href="{% url 'project_delete' project.id %}"
                     title="Delete"
                     data-toggle="tooltip"
                     class="text-danger disabled"
                     aria-disabled="true"><i class="fa-solid fa-trash"></i></a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock content %}
