{% extends "projects/main.html" %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h1>{{ form_title }}</h1>
    <a class="btn btn-secondary btn-sm" href="{% url 'project_list' %}">Cancel</a>
  </div>
  <form method="post" class="custom-form">
    {% csrf_token %}
    {% for field in form %}
      {% if field.name == "complete" %}
        {% if form_title != "Create Project" %}
          <div class="form-group flex-row align-items-center gap-2">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>
        {% endif %}
      {% else %}
        <div class="form-group flex-column">
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
        </div>
      {% endif %}
    {% endfor %}
    <div class="form-group">
      <label for="members">Members:</label>
      <select name="members" id="members" multiple>
        {% for user in all_users %}
          <option value="{{ user.id }}" {% if user in members %}selected{% endif %}>{{ user.username }}</option>
        {% endfor %}
      </select>
    </div>
    <button class="btn btn-primary" type="submit">{{ submit_button_text }}</button>
  </form>
{% endblock content %}
